.project-gallery .carousel-slides-container {
  position: relative;
}

.project-gallery .carousel-slides {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
  max-height: 600px;
}

.project-gallery .carousel-slides::-webkit-scrollbar {
  display: none;
}

.project-gallery .carousel-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  aspect-ratio: 4/5;
}

.project-gallery .carousel-slide:has(.carousel-slide-content[data-align='center']) {
  align-items: center;
}

.project-gallery .carousel-slide:has(.carousel-slide-content[data-align='right']) {
  align-items: flex-end;
}

.project-gallery .carousel-slide .carousel-slide-image picture {
  position: absolute;
  inset: 0;
}

.project-gallery .carousel-slide .carousel-slide-image picture>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-gallery .carousel-slide .carousel-slide-content {
  z-index: 1;
  margin: 68px;
  padding: 16px;
  color: white;
  background-color: rgb(19 19 19 / 75%);
  position: relative;
  width: var(--slide-content-width, auto);
}

.project-gallery .carousel-navigation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

/* stylelint-disable-next-line no-descending-specificity */
.project-gallery .carousel-navigation-buttons button {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0;
  border-radius: 50%;
  padding: 0;
  color: #fff;
  background: transparent;
  border: 0;
}

.project-gallery .carousel-navigation-buttons button:hover,
.project-gallery .carousel-navigation-buttons button:focus-visible {
  background-color: rgb(19 19 19 / 75%);
}

.project-gallery .carousel-navigation-buttons button::after {
  display: block;
  content: '';
  border: 2px solid;
  border-bottom: 0;
  border-left: 0;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.project-gallery .carousel-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}

@media (width >=600px) {
  .project-gallery .carousel-slide .carousel-slide-content {
    --slide-content-width: calc((100% - 184px) / 2);

    margin: 92px;
  }

  .project-gallery .carousel-slide .carousel-slide-content[data-align='justify'] {
    --slide-content-width: auto;
  }
}
