/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-latin-regular.woff2') format('woff2'); 
}

/* montserrat-500 - latin */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-latin-500.woff2') format('woff2');
}

/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/great-vibes-latin-regular.woff2') format('woff2');
}